<app-slider [nombre]="'Películas'" [size]="'small'">
</app-slider>
<div class="center">
    <section id="content">
        <h2 class="subheader">{{title}}</h2>
        <div id="favorita" *ngIf="favorita">
            <h3 class="subheader">
                Película favorita
            </h3>
            <h4>
                {{favorita.title | uppercase}}
            </h4>
            <h5>
                {{favorita.year | espar}}
            </h5>
            <h5>{{fecha | date: 'dd/MM/yyyy'}}</h5>
            
        </div>
        <!--
        <h3>Mostrar primera película</h3>
        {{peliculas[0].title}}
        <hr>
        <h3>Número de películas</h3>
        <div *ngIf="peliculas.length <= 3">
            Hay pocas películas:
        </div>

        <div *ngIf="peliculas.length > 3">
            Hay muchas películas:
        </div>
        {{peliculas.length}}
        <hr>
        <h3 class="subheader">Listado de películas</h3>
        -->
        <div id="articles" *ngIf="peliculas">
            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula [pelicula]="pelicula"
                (marcarFavorita) = "mostrarFavorita($event)"
                > </app-pelicula>
            </div>
        </div>
    </section>
    <app-sidebar>
    </app-sidebar>
</div>